<div class="container">
<h1>Create a Restaurant</h1>
  <%= simple_form_for @restaurant do |r| %>
    <%= r.input :name %>
    <%= r.input :address %>
    <%= r.input :phone_number %>
    <%= r.input :category, collection: Restaurant.getCategories %>
    <%= r.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", restaurants_path %>
</div>
